<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
  <title>Cool New Shop</title>
</head>
<body>
    <header>
  <h1>
    Page 2
  </h1>
  <h4>
    We like formatting columns not making new pages god dammit
  </h4>
</header>

  <section class="newclasser">
    <h3>Pants</h3>
    <article>
      <a href="/page2"><img class="icon1" src="http://www.reading-rewards.com/wp/wp-content/uploads/2014/08/captain-underpants-badge.jpg" title="Top pants"></a>
      <h5> Top Pants - see our best sellers... </h5>
    </article>
    <article>
      <a href="http://www.deadgoodundies.com"><img class="icon1" src="http://thumbs1.ebaystatic.com/d/l225/m/mdqvek8OScd_-MYBYnxRw5Q.jpg" alt="Everday pants"></a>
      <h5> Everyday Pants - see our everyday options... </h5>
    </article>
    <article>
      <a href="http://www.deadgoodundies.com"><img class="icon" src="http://g01.a.alicdn.com/kf/HTB1HrUnJFXXXXclXXXXq6xXFXXXY/2015-New-1pc-High-Quality-100-Cotton-Men-s-Underwear-Cute-Cartoon-Underpants-Fancy-Boxer-Shorts.jpg" alt="Fancy pants"></a>
      <h5> Fancy Pants - see our pants for special occassions... </h5>
    </article>
  </section>

</body>
</html>
