<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
  <title>Cool New Shop</title>
</head>
<body>
    <header class="fixit">
  <h1>
    Page 2
  </h1>
  <h4>
    We like formattig columns not making new pages god dammit
  </h4>

</header>

</body>
</html>
